<div class="row g-3 mb-3">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-body p-4 p-sm-5">
                <div class="text-center">
        
                    <h4>Departman Bazında Personel Sayısı</h4>
                    <a class="btn btn-primary btn-sm mt-3" id="departmanBazindaPersonelBtn" ><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1"></span>İncele</a>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                $('#departmanBazindaPersonelBtn').on('click', function () {

                    zuraf.getById('Admin/departmanBazindaPersonelSayisi', null, '');
                });

            });
        </script>
    </div>
   <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-body p-4 p-sm-5">
                <div class="text-center">
        
                    <h4>Pozisyon Bazında Personel Sayısı</h4>
                    <a class="btn btn-primary btn-sm mt-3" id="pozisyonBazindaPersonelBtn" ><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-4 down-1"></span>İncele</a>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                $('#pozisyonBazindaPersonelBtn').on('click', function () {

                    zuraf.getById('Admin/pozisyonBazindaPersonelSayisi', null, '');
                });

            });
        </script>
    </div>
   
</div>
