:root {
    --falcon-primary: #f54266;
    --falcon-secondary: #94747e;
    --falcon-font-volleytics: "Poppins"
}

.navbar-vertical.navbar-vibrant .navbar-collapse {
    /*background-image: linear-gradient(-45deg, rgba(245, 66, 102, 0.7), rgba(196, 52, 76, 0.8)), url(../assets/img/generic/navbargradient.jpg);*/
    /*background-image: linear-gradient(-45deg, rgba(185, 58, 92, 0.7), rgba(185, 58, 92, 0.8)), url(../assets/img/generic/navbargradient.jpg);*/
    background-image: linear-gradient(-45deg, rgba(194, 52, 80, 0.7), rgba(194, 52, 80, 0.8)), url(../assets/img/generic/navbargradient.jpg);
    /*background-image: linear-gradient(-45deg, rgba(85, 36, 60, 0.99), rgba(123, 52, 87, 0.98)), url(../assets/img/generic/bgtry.png);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.font-volleytics {
    font-family: Prototype;
    color: #c23450;
}

@media (min-width: 1200px) {
    .navbar-vertical.navbar-expand-xl + .content .navbar-top {
        margin-left: 10px;
    }
}

.navbar-vertical .navbar-nav .nav-link-icon {
    width: 1.5rem;
    min-width: 1.5rem;
    font-size: 1.5rem;
}

@media (min-width: 1200px) {
    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-xl .navbar-collapse {
        width: 3.625rem !important;
        margin-left: -1rem;
        overflow: hidden;
    }
}
