@model WebUI.Areas.Admin.Models.Personel.QrCodeDto
@{
    Layout = null;
    string AreaName = "Admin";


    var fileName = Model.FullName
        .Replace("Ç", "C").Replace("ç", "c")
        .Replace("Ğ", "G").Replace("ğ", "g")
        .Replace("İ", "I").Replace("ı", "i")
        .Replace("Ö", "O").Replace("ö", "o")
        .Replace("Ş", "S").Replace("ş", "s")
        .Replace("Ü", "U").Replace("ü", "u")
        .Replace(" ", "-") + "-" + ".png";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<div class="modal show" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div id="screenshotDiv">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Model.FullName</h5><button class="btn-close" onclick="zuraf.closeModal('#editModal')" type="button" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="ratio ratio-1x1">
                                <img src="data:image/png;base64,@Convert.ToBase64String(Model.QRCode)" alt="QR Code" class="img-fluid w-100 rounded" />
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <span class="badge rounded-pill badge-soft-primary fs-2 px-4 py-2">@Model.Code</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button onclick="zuraf.closeModal('#editModal')" class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Kapat</button>
                <button onclick="downloadModalScreenshot()" class="btn btn-success btn-sm" type="button">İndir</button>

            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {

        $('#saveButton').on('click', function () {

            zuraf.submitForm("editForm");
        });

    });
</script>

<script>
    function downloadModalScreenshot() {
        const modalContent = document.querySelector('#editModal .modal-content');

        html2canvas(modalContent).then(canvas => {
            const link = document.createElement('a');
            link.download = '@fileName';
            link.href = canvas.toDataURL('image/png');
            link.click();
        });
    }
</script>
